#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .swiper-slide {
    max-width: 1920px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-wrapper{
    max-width: 1920px; 
    width: 100%;
    height: auto;
    margin: auto;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swp1{
    background-image: url('../images/c1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swp2{
    background-image: url('../images/c2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swp3{
    background-image: url('../images/c3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mySwiper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swp1, .swp2, .swp3 {
    width: 100vw;
    height: 90vh; 
    overflow: hidden;
}