.navbar{
    background-image: url('../images/r1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.prioritet{
    background-image: url('../images/pw.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pr-numbers{
    background-image: url('../images/pw2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.work{
    background-image: url('../images/wb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}